<a href="https://colab.research.google.com/github/Maisha1714/Statistics_in_ML/blob/main/Statistics_in_Machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mean ( )**

In [ ]:
import numpy as np
arr = [10,20,30,40,50]
np.mean(arr)

30.0

# **Median ( )**

In [ ]:
import numpy as np
arr = [10,20,30,40,50]
np.median(arr)

30.0

# **Sort ( )**

In [ ]:
import numpy as np
arr = [20,30,10,50,40]
np.sort(arr)

array([10, 20, 30, 40, 50])

In [ ]:
import numpy as np
arr = [20,30,10,50,40]
np.median(arr)

30.0

# **Mode ( ) scipy**

In [ ]:
from scipy import stats
arr = [10,40,20,30,40,50,40]
stats.mode(arr)

ModeResult(mode=40, count=3)

# **Standard Deviation**

In [ ]:
import numpy as np
arr = [10,20,30,40,50]
np.std(arr)  #sqrt((Xi-mean)^2/n)

14.142135623730951

# **Variance**

In [ ]:
import numpy as np
arr = [10,20,30,40,50]
np.var(arr)
# 10+20+30+40+50 = 150/3 = 30
# 10-30=-20, 20-30=-10, 30-30=0,40-30=10,50-30=20
# (-20)^2 + (-10)^2 + (10)^2 + (20)^2 = 400+100+100+400 = 1000
# 1000/5=200

200.0

In [ ]:
import pandas as pd
data = {'Gender': ['Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male'],
        'age': [40, 31, 41, 40, -13, np.nan, 35, 37, 41, 42, 71, 41, 40, 75],
        'Income level': ['Low', 'Medium', 'Medium', 'Low', 'Medium', 'Medium', '---', 'Medium', 'High', 'Medium', 'High', 'High', 'N/A', 'Low']}

In [ ]:
df = pd.DataFrame(data)
df

    Gender   age Income level
0     Male  40.0          Low
1     Male  31.0       Medium
2   Female  41.0       Medium
3   Female  40.0          Low
4     Male -13.0       Medium
5     Male   NaN       Medium
6   Female  35.0          ---
7   Female  37.0       Medium
8   Female  41.0         High
9     Male  42.0       Medium
10  Female  71.0         High
11  Female  41.0         High
12    Male  40.0          N/A
13    Male  75.0          Low

In [ ]:
mean_age = df['age'].mean()
mean_age

40.07692307692308

In [ ]:
median_age = df['age'].median()
median_age

40.0

In [ ]:
mode_age = df['age'].mode()
mode_age

0    40.0
1    41.0
Name: age, dtype: float64

In [ ]:
std_age = df['age'].std()
std_age

20.649703542914516

In [ ]:
var_age = df['age'].var()
var_age

426.41025641025635